body {
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin-top: 200px;
}

body {
  background-image: url('pexels-piccinng-3052361.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
