body {
  background-color: #f2f2f2;
}

h1 {
  text-align: center; /* Optional - To center the h1 element */
  padding-top: 100px; /* Optional - To add some spacing from the top */
  font-size: 36px; /* Optional - Adjust the font size as needed */
  color: #ffffff; /* Set the font color to white */
}

body {
  background-image: url('pexels-piccinng-3052361.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
