body {
  background-color: #f2f2f2;
}

h1 {
  text-align: center; /* Optional - To center the h1 element */
  padding-top: 100px; /* Optional - To add some spacing from the top */
  font-size: 36px; /* Optional - Adjust the font size as needed */
}

h1 {
  color: white; /* White color using the named color 'white' */
}

body {
  background-image: url('anime.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0; /* Optional - To remove default body margin */
 padding: 0; /* Optional - To remove default body padding */
}
}

#particles-container {
  background-color: #1a1a1a;
}
